.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

*.csv
*.tsv
*.parquet
*.pkl
*.joblib
*.json
*.npz
*.npy
*.zip

!savefiles/item_id_to_idx_als.json
!savefiles/items_used.parquet
!savefiles/item_factors.npy

src/___*

sql_script/generated/
sql_script/*_cloud.sql

scripts/

staging_checks.md
staging_tables_summary.md

.env