.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

*.csv
*.json
*.npz
*.npy
*.zip

!tables/production/item_id_to_idx_als.json
!tables/production/item_factors.npy

src/*.ipynb
src/__get_steam_API.py

sql_script/cloud_load/
sql_script/*_cloud.sql
sql_script/*_cloud_single.sql
scripts/

staging_checks.md
staging_tables_summary.md

.env
.DS_Store/

_.txt
